<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="~/img/favicon.png" sizes="192x192" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <title>@ViewBag.Title</title>
</head>
<body lang="en">

    <div class="container">

        @*task description and heading*@
        <div class="heading">
            <h1>FizzBuzz</h1>
            <p>
                For each number found that is evenly divisible by 3, output the word "Fizz".<br/>
                For each number that is evenly divisible by 5, output the word "Buzz".<br/>
                For each number that is evenly divisible by both 3 AND 5, output the word "FizzBuzz”.
            </p>
        </div>


        @*this is input part of our numbers*@
        <div class="content">
            <div class="row">
                <div class="col-3">Fizz :</div>
                <div class="col">
                    <input type="number" placeholder="3" id="FizzaValue" />
                </div>
            </div>
            <div class="row">
                <div class="col-3">Buzz :</div>
                <div class="col">
                    <input type="number" placeholder="5" id="BuzzValue" />
                </div>
            </div>
            <div class="row" id="button">
                <div class="col">
                    <a class="btn btn-success btn-md" asp-controller="Home" asp-action="Calculate">Try it</a>
                </div>
            </div>
        </div>

    </div>

    <div id="resultTable">
        @RenderBody()
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>
